<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages App</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="message in messages">
                {{ message.text }} - {{ message.createdAt }}
                <button @click="deleteMessage(message)">X</button>
            </li>
        </ul>
        <form v-on:submit.prevent="addMessage">
            <textarea v-model="newMessage" placeholder="Leave a message"></textarea>
            <div>
                <button :disabled="addDisabled" type="submit">Add</button>
            </div>
        </form>
    </div>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el : "#app",
            data:{
                messages: [],
                newMessage: ''
            },
            methods: {
                addMessage(event){
                    if(!this.newMessage) return ;
                        this.messages.push({
                            text: this.newMessage, createdAt: new Date()
                        })
                        this.newMessage='';
                },
                deleteMessage(message){
                    this.messages.splice(this.messages.indexOf(message),1);
                }
            },
            computed: {
                addDisabled(){
                    return this.messages.length >= 10 || this.newMessage.length > 50
                }
            }
        });
    </script>
</body>
</html>